{{!-- 
* Setup the `index.handlebars` to have the template that Handlebars can render onto.

* Create a button in `index.handlebars` that will submit the user input into the database. --}}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      {{!-- Image --}}
      {{!-- <img src="..." class="img-fluid" alt="Responsive image"> --}}
    </div>
  </div>
  
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      {{!-- Title --}}
      <h1>Eat-Da-Burger</h1>    
    </div>
  </div>

  <div class="row justify-content-md-center">
    {{!-- Burger Display --}}
    <div class="col-md-4">
      <ul>
        {{#each burges}}
          {{#unless devour}}
            <li>
              {{burger_name}}
              <button data-id="{{id}}">Devour</button>
            </li>
          {{/unless}}
        {{/each}}
            
            



      


      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        
      </ul>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      {{!-- Form: Text Box and Button  --}}
      <form action="/" id="burger-form">
        <div class="brugerForm">
          <input type="text" class="burgeForm" id="burger-input">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>

    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      {{!-- Instructions--}}

    </div>
  </div>
</div>









